*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Spartan', sans-serif;
}

body {
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 1440px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

.text {
  padding: .5rem 2.5rem 6rem;
}

h1 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

p {
  line-height: 1.6;
  color: #a1a1a1;
  margin-bottom: 5rem;
}

header {
  width: 100%;
  padding: 4rem 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

#hamburger-icon {
  display: block;
}

#hamburger-icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#logo {
  display: block;
}

#close-icon {
  display: none;
}

#close-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav {
  display: none;
}

nav ul {
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 600;
  color: black;
}

nav li {
  display: inline-block;
  padding: 1rem 1.25rem;
  position: relative;
}

nav li:last-of-type {
  padding-right: 0;
}

nav li:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav li:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

nav li:hover span {
  display: block;
}

nav li span {
  display: none;
  width: 20px;
  height: 10px;
  border-bottom: 2px solid black;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main #hero-image {
  -o-object-fit: contain;
     object-fit: contain;
}

main #hero-image-desktop {
  display: none;
}

main a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  letter-spacing: 1rem;
}

main a:hover {
  cursor: pointer;
  color: #a1a1a1;
}

main a:hover svg path {
  fill: #a1a1a1;
}

main a svg {
  margin-left: 3rem;
}

main #arrows {
  width: 110px;
  height: 55px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  bottom: 55px;
  left: calc(100% - 110px);
}

main #arrows span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
}

main #arrows span:hover {
  cursor: pointer;
  background: #454545;
}

section img {
  height: 240px;
}

section div {
  padding: 6rem 2.5rem;
}

section h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 5px;
  margin-bottom: 2rem;
  color: black;
}

section p {
  margin-bottom: 0;
}

footer {
  font-size: .9rem;
  text-align: center;
  margin: 2rem 0;
  color: #454545;
}

footer a {
  color: #3e52a3;
}

@media screen and (min-width: 850px) {
  header {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 120fr 1320fr;
        grid-template-columns: 120fr 1320fr;
    padding: 4rem;
    background: transparent !important;
  }
  #hamburger-icon {
    display: none !important;
  }
  #close-icon {
    display: none !important;
  }
  #logo {
    display: block !important;
  }
  nav {
    display: block !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-left: 4rem;
  }
  nav ul {
    color: white;
  }
  nav ul li:last-of-type {
    padding-right: 1rem;
  }
  nav ul li:hover span {
    display: block;
    border-color: white;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 840fr 600fr;
        grid-template-columns: 840fr 600fr;
    -ms-grid-rows: 535px;
        grid-template-rows: 535px;
  }
  main #hero-image {
    display: none;
  }
  main #hero-image-desktop {
    display: block;
    height: 100%;
  }
  main .text {
    padding: 0 5rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main #arrows {
    position: absolute;
    top: 480px;
    left: 58.33%;
  }
  section {
    padding: 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 420fr 580fr 440fr;
        grid-template-columns: 420fr 580fr 440fr;
    -ms-grid-rows: 270px;
        grid-template-rows: 270px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section img {
    height: 100%;
  }
  section div {
    padding: 2.5rem;
  }
  section h2 {
    font-size: 1.2rem;
  }
  section p {
    font-size: 1.15rem;
    line-height: 1.8;
  }
  footer {
    position: absolute;
    right: -8rem;
    bottom: 11rem;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding: 6rem;
  }
  nav {
    margin: 0;
  }
  main .text {
    padding: 12rem 10rem;
  }
  main h1 {
    font-size: 3.75rem;
    font-weight: 600;
  }
  main p {
    font-size: 1.15rem;
    margin-bottom: 3.5rem;
  }
  main #arrows {
    width: 160px;
    height: 80px;
    position: absolute;
    top: 455px;
    left: 58.33%;
  }
  main #arrows span {
    width: 80px;
    height: 80px;
  }
  section div {
    padding: 7rem 4.8rem;
  }
}
/*# sourceMappingURL=main.css.map */